*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.cuerpo{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(255, 253, 253, 0.941);
    /* background: rgb(11, 11, 11) ;
    background:linear-gradient(0deg,rgb(24, 29, 29) 0%,rgba(90,114,139,1) 100%); */
}
header{
    top: 0;
    position: fixed;
    z-index: 1;
    /* overflow-x: hidden; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #212f3d;
    align-items: center;
    padding: 10px;
}
.logo img{
    padding-left: 2px;
    height: 80px;
}
header nav ul {
    
    position: sticky;  
    z-index: 1;
    background-color: none;
    padding: 20px;
    display: flex;
    align-items: center;
    list-style: none;
    /* border-style: solid; */
    
}
header a{
    padding: 5px 12px;
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}
header nav ul li a{
    text-decoration: none;
    padding: 20px;
    color: rgb(255, 255, 255);
    
   
}
header nav ul li a:hover{
    background-color: rgb(33, 186, 33);
    color: white;
    font-weight: 600;
    padding: 12px;
    border-radius: 10px;}
.container-1{
    margin-top: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 230px;
}
/* .container-1 :hover{
    background-color: rgb(33, 186, 33);
    border-radius: 5px;
} */
.container-1 img{
    width: 30%;
    height: 100%;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 60px;
    object-fit: cover;
    border-radius: 10px ;
}
.container-1 .texto{
    width: 40%;
    height: 100%;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 70px;
    padding: 20px;
    text-align: justify;
    color: rgb(0, 0, 0);

}.container-2{
    margin-top: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}
/* .container-2 :hover{
    background-color: rgb(33, 186, 33);
    border-radius: 5px;
} */
.container-2 img{
    width: 30%;
    height: 100%;
    margin-left: 10px;
    margin-right: 70px;
    margin-top: 70px;
    object-fit: cover;
    border-radius: 10px ;
}
.container-2 .texto{
    width: 40%;
    height: 100%;
    margin-left: 70px;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 16px;
    padding: 20px;
    text-align: justify;
    color: rgb(0, 0, 0);

}
.container-3{
    margin-top: 150px;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.container-3 .mision{
    margin-left: 20px;
    margin-top: 50px;
    width: 40%;
    height: 100%;
    font-size: 16px;
    padding: 20px;
    text-align: justify;
    color: rgb(4, 4, 4);

}
.container-3 .vision{
    margin-right: 10px;
    margin-top: 50px;
    width: 40%;
    height: 100%;
    font-size: 16px;
    padding: 20px;
    text-align: justify;
    color: rgb(7, 7, 7);

}
.container-4{
    margin-top: 150px;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
h3{
    padding-top: 10px;
    color: rgb(5, 5, 5);
    text-align: center;
    margin-top: 50px;
}
.valores{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    height: 540px;
    width: 100%;
    
}
article{
    margin: 30px;
    width: 500px;
    height: 500px;
}

.imv{
    margin-top: 20px;
    margin-left: 50px;
    width : 200px;
    height: 200px;
    margin-bottom: 0px;
    border-radius: 10px;
}
figure{
    width: 300px;
    height: 300px;
    margin-bottom: 0px;
    border-radius: 10px;
}
figcaption{
    margin-top: 0px;
}
figcaption p{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    color: rgb(6, 6, 6);
    font-size: 12px;
    text-align: justify;
    align-content: center;
}

span{
    padding: 10px;
    font-size: 16px;
}

footer p {
    text-align: center; font-style: italic; fill-opacity: initial;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
footer {
    background-color: #212f3d;
    width: 100%;
    height: 200px;
}
#pie {

        display: flex;
        gap: 200px;
        margin: 10px;
        padding: 20px;
}
